<div class="cards-container">
    <div class="card">
        <mat-card (click)="onViewDevice()">
            <mat-card-header>
            <mat-card-title>{{ item.element.name }}</mat-card-title>
            </mat-card-header>
            <div style="display: flex; justify-content: center;">
            <mat-divider></mat-divider>
            </div>
            <img mat-card-image [src]="getImageUrl(itemImageProperty)" alt="Device Image">
            <mat-card-content>
            <div class="card-footer">
                <div class="price">
                    {{ itemPrice / 100 | number:'1.2-2' }}<span style="font-size: 22px; color: #6a74a5; margin-left: 5px;">€</span>
                </div>
                <div class="tooltip-container">
                    @if(!this.inBasket) {
                        <button mat-icon-button class="details-button">
                            <mat-icon style="transform: scale(0.7);">arrow_forward_ios</mat-icon>
                        </button>
                        <span class="tooltip-text">{{ 'see_details' | translate }}</span>
                    }
                    @else {
                        <button mat-icon-button class="details-button" (click)="onRemoveItem(this.item)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <span class="tooltip-text">{{ 'delete_item' | translate }}</span>
                    }
                </div>
            </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
