.dialog-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px 10px 30px;
}

.icon {
    transform: scale(2);
    margin-top: 20px;
    margin-bottom: 10px;
}
.dialog-title {
    margin-bottom: 25px;
}
.dialog-text {
    margin-bottom: 15px;
    font-size: 16px;
}
button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
}
.button-1 {
    border: 1px solid gray;
}

:host ::ng-deep .mat-mdc-button .mat-mdc-button-persistent-ripple::before {
    background-color: gray;
}